* {
	margin:  0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
	word-spacing: 2px;
	font-size: 11px;
	color: #333;
/*  background: #fff url('../i/stalactite.png') top right no-repeat;*/
}

h2 {
	color: #444;
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	word-spacing: 1px;
}

h3.active {
  background: #999;
}

h3 {

	width: 200px;
	margin: 5px 0;
	padding: 5px;
  text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 100;
	text-align: left;
	font-size: 10px;

	background: #ccc;
	color: #fff;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

h3 a:link, h3 a:visited {
  color: #fff;
  text-decoration: none;
}
h3 a:hover, h3 a:active {
  background: none;
  color: #fff;
  text-decoration: underline;
}

p {
	margin: 0 0 25px 0;
	line-height: 17px;
	font-size: 11px;
}

img {
	border: 0 !important;
}

a#download:link, a#download:visited {
	margin-top: -20px;
	display: block;
	width: 100px;
	height: 100px;

	border: 1px dashed #333;
	-webkit-border-radius: 100px;
	   -moz-border-radius: 100px;
	        border-radius: 100px;
}

a#download:hover, a#download:active {
    background: #efefef;
}

.mute { font-size: 9px; color: #444; }

a:link, a:visited {
	text-decoration: underline;
	color: #333;
}
a:hover, a:active {
    text-decoration: none;
	background: #ff0;
}

.container_9 {;
	border-bottom: 1px solid #efefef;
}

#text_cascade .character {

	height: 55px;
	float:  left;

	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	text-align: center;

	color: #333;
	background: #ccc;

	padding: 45px 0 0 0;
	margin: 2px 3px 2px 2px;
}

#text_cascade .character:hover {
	background: #efefef;
}

.content {
  text-align: left;
}
.content * {
  padding: 5px;
}

.container_9 .grid6 {
  width: 625px;
}
.container_9 .grid9 {
  width: 940px;
}
.container_9 .grid4 {
  width: 415px;
}

footer, .section {
	margin-top: 50px;
	margin-bottom: 50px;
}